# Environments
.venv-pypy/
.env
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc

# Project specific ignores
/copyparty/.gitkeep
/logs/
/storage/
/data/
# Legacy (Root level folders are gone, but keeping patterns for safety if they reappear)
/zip/
/docs/
/cash/
/apk/

# Logs
*.log

# Sub-projects
ClientApp/
